@charset "UTF-8";
/* =================================
 z-index
================================= */
body {
  margin: 0;
}

.demo_app_wrap {
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.demo_app_wrap img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

.demo_app_wrap__header,
.demo_app_wrap__footer,
.demo_app_wrap__fixed_txt {
  max-width: 375px;
  width: 100%;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

.demo_app_wrap__header {
  top: 0;
}

.demo_app_wrap__footer {
  bottom: 0;
}

.demo_app_wrap__fixed_txt {
  top: 5px;
  z-index: 1000;
  text-align: center;
  padding: 0 30px;
  box-sizing: border-box;
  font-family: "メイリオ", "ヒラギノ角ゴ Pro W3", "Lucida Grande", "Hiragino Kaku Gothic Pro", Osaka, Verdana, "ＭＳ Ｐゴシック", sans-serif;
}

.demo_app_wrap__fixed_txt_inr {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  color: #fff;
  width: calc(100% - 60px);
  padding: 6px;
  font-size: 14px;
  background: #FE9066;
  border-radius: 8px;
  line-height: 1;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 375px) {
  .demo_app_wrap__fixed_txt_inr {
    padding: 6px 5px;
    font-size: 3.733vw;
  }
}

.tutorial_slider {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slick-arrow {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 50%;
  z-index: 10000;
  background: none;
  border: none;
  opacity: 0;
  cursor: pointer;
}

.slick-arrow.slick-prev {
  left: 0;
}

.slick-arrow.slick-next {
  right: 0;
}

.tutorial_slider__last {
  position: relative;
  z-index: 0;
}

.tutorial_slider__last_img {
  position: absolute;
  left: 50%;
  top: 51.5%;
  transform: translateX(-50%);
  z-index: 100;
}
